<div *ngIf="quiz!=null" class="ui blue piled segment">
    <!-- Default panel contents -->
    <div class="ui header">{{quiz.title}}
        <span style="float: right">{{timer | secondsToTime}}</span>
    </div>
    <question [class]="mode=='result'?'disabledArea':''" *ngIf="filtredQuestion!=null" [question]="filtredQuestion" [mode]="mode"></question>
    <div style="padding: 15px;" class="center aligned">
        <button (click)="previousQuestion()" class="ui blue button">Previous</button>
        <button (click)="nextQuestion()" class="ui blue button">Next</button>
        <button style="float: right" *ngIf="filtredQuestionIndex==quiz?.questions?.length-1 && mode!='result'" (click)="submitQuiz()"
    class="ui green button" type="submit">Submit
    </button>
    </div>
</div>

<h3 style="text-align: center" *ngIf="mode=='result'">{{result}}%</h3>