<h1>Login</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="ui form">
  <div class="field" [ngClass]="{'error': (!username.valid && username.touched), 'success': (username.valid && username.touched)}">
    <label for="inputEmail3">Email</label>
    <input [formControl]="username" type="text" id="inputEmail3" placeholder="Username">
  </div>
  <div class="field" [ngClass]="{'error': (!password.valid && password.touched), 'success': (password.valid && password.touched)}">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <input [formControl]="password" type="password" id="inputPassword3" placeholder="Password">
  </div>
  <div class="field">
    <button [disabled]="!form.valid" type="submit" class="ui blue button">Sign in</button>
  </div>
</form>