<div class="add-question">
  <h1>Add Question</h1>
  <form (ngSubmit)="addQuestion($event)">

    <div class="form-group">
      <label for="question">Question</label>
      <input name="content" [(ngModel)]="question.content" type="text" class="form-control"
             id="question" required>
    </div>
    <div *ngFor="let option of question.options, let index=index">
      <div class="col-md-5">
        <div class="form-group">
          <label for="option2">Option 1</label>
          <input name="option2" [(ngModel)]="option.content" type="text" class="form-control" id="option2" required>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label for="option2">Correct</label>
          <label for="{{option.id}}">
            <input name="option-correct" id="{{option.id}}" type="checkbox" [(ngModel)]="option.correct"/>
          </label>
          <button class="btn btn-warning" (click)="removeQuestion(index)">X</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-default pull-right" type="button" (click)="addNewOption()">Add Option</button>
      </div>
    </div>
    <!--<button *ngIf="question==null" type="submit" class="btn btn-success pull-right">Submit Question</button>-->
  </form>
</div>
