<form class="ui form" (ngSubmit)="addQuiz($event)">
  <div class="field">
    <label for="title">Title</label>
    <input name="title" [(ngModel)]="quiz.title" type="text"  id="title" required>
  </div>
  <div class="field">
    <label for="title">Duration</label>
    <div class="three fields">
      <div class="field">
        <input  name="days" type="number" [(ngModel)]="duration.days" required>
      </div>
      <div class="field">
        <input  name="hours" type="number" placeholder="ee" [(ngModel)]="duration.hours" required>
      </div>
      <div class="field">
        <input  name="minutes" type="number" [(ngModel)]="duration.minutes" required>
      </div>
    </div>
  </div>
  <button class="ui button" type="button" (click)="addNewQuestion()">Add Question</button>
  <div class="questions-section" *ngFor="let question of quiz.questions">
    <add-question [question]="question"></add-question>
  </div>
  <button type="submit" class="ui blue button">Submit Quiz</button>
</form>