<table class="ui celled table">
  <thead>
    <tr>
      <th class="ten wide">Title</th>
      <th class="one wide">Duration</th>
      <th class="three wide right aligned"></th>
      <th class="two wide right aligned"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quiz of quizzes">
      <td>{{quiz.title}}</td>
      <td>{{quiz.duration.seconds | secondsToTime}}</td>
      <td class="right aligned">
        <button onclick="$('#selectCandidatesModel').modal('show');" (click)="selectCandidates(quiz)" role="button" class="ui blue basic button">
        select candidates
        </button>
        <td class="right aligned">
          <button [routerLink]="['/admin/scoreboard/',quiz.id]" role="button" class="ui green basic button">
          Scoreboard
          </button>
        </td>
    </tr>
  </tbody>
</table>
<pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="loadPage($event)"></pagination>

<div id="selectCandidatesModel" class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Select Users
  </div>
  <div class="content">
    <users [mode]="'quizzes'" (selectedUsersEmitter)="affectQuizToUsers($event)"></users>
  </div>
</div>