<table class="ui celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Duration</th>
      <th>Score</th>
      <th class="two wide right aligned"></th>
      <th class="two wide right aligned"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let quiz of quizzes">
      <ng-container *ngIf="activeQuizzesOnly?quiz.active:true">
        <tr>
          <td>{{quiz.title}}</td>
          <td>{{quiz.duration.seconds | secondsToTime}}</td>
          <td>{{quiz.score}}</td>
          <td class="right aligned"><button class="ui blue basic button" [routerLink]="['../../quiz',quiz.id]" (click)="startQuiz(quiz.quiz)">
          Start</button></td>
          <td class="right aligned"><button class="ui green basic button" [routerLink]="['/home/scoreboard/',quiz.id]">
          Scoreboard
          </button></td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
<pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="loadPage($event)"></pagination>